#header{
    background-color: greenyellow;
    height: 100px;
    width: 100vw;
    animation-name: ok;
    animation-duration: 2s;
    color: white;
    font-size: 30px;
    align-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes ok{
    0%{transform: translateY(-100px);
       
    }
    100%{
        transform: translateY(0);
    }
}
#nav{
    height: 50px;
    width: 100vw;
    background-color: rgb(46, 40, 40);
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;

}
#body{
    display: flex;
}
#aboutme{
    width: 60%;
    display: flex;
    flex-direction: column;


}

img{
    height: 150px;
    width: 150px;
}
#link{
    background-color: rgba(215, 210, 210, 0.566);
    width: 40%;
    font-size: 20px;
}
#footer{
    height: 60px;
    background-color: rgb(46, 40, 40);
width: 100vw;
color: white;
font-size: 20px;
align-content: center;
text-align: center;

}

